body {
   background: 0 0 !important;
}
html {
   background-image: linear-gradient(rgba(255, 255, 255, 0.755), rgba(255, 255, 255, 0.755)), url(./assets/bg.jpg) !important;
   background-size: 15%;
}

.grid {
   margin-top: 0 !important;
}
.wrapWord {
   word-wrap: break-word !important;
}
.hiddenCustom {
   display: none !important;
}
#offline-banner {
   background: #414141 !important;
   color: #fff !important;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1em;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   z-index: 999;
}
