extends baseEmail

block content
   p Subject: <strong>#{userSubject}</strong>
   br
   p Message : 
   p.messageBackground #{userMessage}
   
   a(href=`mailto:${userEmail}` title="Mail" target="_blank" rel="noopener noreferrer") #{userEmail}
   br
   p - Grimm Reaper, CEO