.copyIconSidebar {
   margin-right: 0em !important;
}
.inputItemSidebar {
   padding: 0em !important;
}

.marginBottomReaction {
   margin-bottom: 0.5em !important;
}
.errorMessageReaction {
   display: block !important;
   margin: 0.5em;
   font-size: 10px;
   color: #dd221f;
}
